.card {
  background: #fff;
  border-radius: 2px;

  margin: 1rem;

  position: relative;
  width: 20vw;
  height:20vw;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  overflow: hidden;
}

/* Slide */
 .hover img {
	
	-webkit-transform: scale(6);
	transform: scale(6);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.hover img:hover  {
    transform: scale(1);

}
